* {
  box-sizing: border-box;
}

body {
  background-image: url("https://img.freepik.com/free-vector/abstract-background-with-monochrome-low-poly-design_1048-14453.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Titillium Web", sans-serif;
}

#imgMusic{
  position: relative;
  animation-name: hola;
  animation-duration: 1s;
}
@keyframes hola {
  0% {
    top:700px;
  }
  100% {
    top:0px;
  }
}

.titulo {
  animation-name: zoom;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes zoom {
  0% {
    left: -600px;
  }
  100% {
    left: 0;
  }
}

.cloud {
  margin-left: 90px;
  width: 22%;
  transition: 1s;
  filter:drop-shadow(20px 0px red);
}


.cloud:hover {
  transform: scale(1.2);
  transition: 1s;
}

.games {
  color: #f44336;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}
.adrenaline {
  color: black;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.links {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.links:hover {
  color: #f44336;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}
#carrusel:target {
  opacity: 1;
  pointer-events: auto;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  justify-content: center;
  position: relative;
  height: 60vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

#twitter:hover {
  font-size: 20px;
  color: rgb(34, 166, 210);
  font-weight: bold;
  text-decoration: none;
  font-size: larger;
  transition: 300ms;
}
#twitter {
  transition: 300ms;
}

/* Hide the images by default */
.mySlides {
  margin-left: 30%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -20px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.crusita {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 1px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.crusita {
  border-color: #f44336;
  color: red;
}

.crusita:hover {
  background: #f44336;
  color: white;
}
