* p,a,.links.titulo{
  box-sizing: border-box;
  font-size: 13pt;
  margin-left: 35px;
  margin-right: 35px;
}



body {
  background-image: url("https://img.freepik.com/free-vector/abstract-background-with-monochrome-low-poly-design_1048-14453.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Titillium Web", sans-serif;
}

#imgMusic {
  position: relative;
  animation-name: zoom;
  animation-duration: 1s;
  margin-left: 35px;
  margin-right: 35px;
}
@keyframes zoom {
  0% {
    opacity: 0%;
    left:1000px;
  }
  100% {
    left:0px;
  }
}

.titulo {
  animation-name: slideTitle;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: 1;
  margin-left: 35px;
  margin-right: 35px;
}

@keyframes slideTitle {
  0% {
    filter: blur(3px);
    left: -600px;
  }
  100% {
    left: 0;
  }
}

#mancha{
  position: absolute;
  left:55%;
  bottom:0px;
  width:40%;
  filter:drop-shadow(5px);
}

.cloud {
  margin-left: 90px;
  width: 27%;
  transition: 1s;
  filter: drop-shadow(20px 0px #22136C);
}

.cloud:hover {
  transform: scale(1.2);
  transition: 1s;
}

.titulo::first-letter {
  color: #361fa7;
}

.games {
  color: black;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.adrenaline {
  color: black;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.links {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.links:hover {
  color: #361fa7;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}
:target {
  opacity: 1;
  pointer-events: auto;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  margin-left: auto;
  margin-right: auto;
}

.twitter:hover {
  font-size: 21px;
  background-image: url(twitter.png);
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

#david{
  color:#000000;
  font-weight: bolder;
  transition: all 500ms;
  padding-right: 150px;
  
}

#victor{
  color:#000000;
  font-weight: bolder;
  transition: all 500ms;
  padding-right: 150px;
  
}

#david:hover{
  color:white;
  background-color:black;
  border-radius: 10px;
}

#victor:hover{
  color:white;
  background-color:black;
  border-radius: 10px;
}

.twitter{
  transition: all 300ms;
}
.insta{
  transition: all 300ms;
}

.insta:hover {
  font-size: 21px;
  background-image: url(twitter.png);
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.titTw{
  text-align: center;
  color:aqua;
  text-shadow: 1px 2px 5px black;
}

.tituloIns{
  text-align: center;
  color:#ff00f7;
  text-shadow: 1px 2px 5px black;
}

#cajaRedes{
  margin-top: 50px;
  display:flex;
  align-items: center;
  justify-content:space-around;
}



.cajitaTwitter{
  width: 30vw;
  box-shadow: 10px 10px 50px #000000;
  border-radius: 10px;
  margin-left: 35px;
  margin-right: 35px;
  transition: all 500ms;
  background-image: url(back.webp);
  background-size:cover;
  background-position: center;
  opacity: 0.8;

}

.cajitaInsta{
  width: 30vw;
  box-shadow: 10px 10px 50px #000000;
  border-radius: 10px;
  margin-left: 35px;
  margin-right: 35px;
  transition: all 500ms;
  background-image: url(insta.jpg);
  background-size:cover;
  background-position: center;
  opacity: 0.8;

}

.cajitaTwitter:hover{
  opacity: 1;
}

.cajitaInsta:hover{
  opacity: 1;
}

/* Hide the images by default */
.mySlides {
  margin-left: 30%;
  

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -20px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  overflow:auto;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: #000000;
  font-size: 12px;
  position: absolute;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row {
  display: flex;
  justify-content: center;
  background-color: #222;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.crusita {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 1px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.crusita {
  border-color: #f44336;
  color: red;
}

.crusita:hover {
  background: #f44336;
  color: white;
}
